{% extends 'base.html.twig' %}

{% block body %}
  <main class="mainForm">
    <section class="sectionBtn">
      <a href="{{ path('home') }}"><button class="btn">Retour sur le site</button></a> 
      <a href="{{ path('security_login') }}"><button class="btn">Page de connexion</button></a> 
    </section>

    <section class="sectionForm">
      <h1 class="titleForm">Inscription !</h1>
      <br/>
      {{ form_start(form) }}

      {# <label for="username">Pseudo</label> #}
      {{ form_row(form.username, {'label': false, 'attr': {'placeholder': 'Pseudo ...', 'class': 'fieldFormLogin'}}) }}

      {{ form_row(form.email, {'label': false, 'attr': {'placeholder': 'Email ...', 'class': 'fieldFormLogin'}}) }}

      {{ form_row(form.password, {'label': false, 'attr': {'placeholder': 'Mot de passe ...', 'class': 'fieldFormLogin'}}) }}

      {{ form_row(form.confirm_password, {'label': false, 'attr': {'placeholder': 'Confirmer mot de passe ...', 'class': 'fieldFormLogin'}}) }}

      {{ form_row(form._token) }}
      <br/>
      <button class="btn-submit" type="submit">Inscription !</button>
      {{ form_end(form) }}
    </section>

  </main>
{% endblock %}